<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="ri_5036">
  <mujoco>
    <compiler meshdir="../meshes/" balanceinertia="true" discardvisual="false" />
  </mujoco>

  <link name="base_link">
    <inertial>
      <origin xyz="-0.00344396 0.00231808 -0.00075572" rpy="0 0 0" />
      <mass value="2.4003459" />
      <inertia ixx="0.00590794" ixy="0.00047533" ixz="3.157e-05" iyy="0.0110799" iyz="-3.117e-05" izz="0.01398583" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="FL_hip">
    <inertial>
      <origin xyz="-0.00687524 0.00858559 -0.00011098" rpy="0 0 0" />
      <mass value="0.20213661" />
      <inertia ixx="0.00010063" ixy="-7.71e-06" ixz="7.3e-07" iyy="0.00011594" iyz="-8e-08" izz="0.00011961" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_hip.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FL_hip_joint" type="revolute">
    <origin xyz="0.15565 0.041 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="FL_hip" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5" upper="1.5" effort="21" velocity="50" />
  </joint>
  <link name="FL_thigh">
    <inertial>
      <origin xyz="-0.00362205 -0.0170977 -0.026037" rpy="0 0 0" />
      <mass value="0.40794661" />
      <inertia ixx="0.00113124" ixy="2.554e-05" ixz="-7.026e-05" iyy="0.00099464" iyz="0.00018381" izz="0.00035636" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_thigh.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FL_thigh_joint" type="revolute">
    <origin xyz="0 0.1034 0" rpy="0 0 0" />
    <parent link="FL_hip" />
    <child link="FL_thigh" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57" upper="3.49" effort="21" velocity="50" />
  </joint>
  <link name="FL_calf">
    <inertial>
      <origin xyz="0.01005013 3.13e-06 -0.05890115" rpy="0 0 0" />
      <mass value="0.06068055" />
      <inertia ixx="0.00021231" ixy="0.0" ixz="1.46e-05" iyy="0.00021592" iyz="-2e-08" izz="5.96e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_calf.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FL_calf_joint" type="revolute">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="FL_thigh" />
    <child link="FL_calf" />
    <axis xyz="0 1 0" />
    <limit lower="-2.7" upper="-0.56" effort="21" velocity="50" />
  </joint>
  <link name="FL_foot">
    <inertial>
      <origin xyz="-0.00571932 0.0 -0.00518479" rpy="0 0 0" />
      <mass value="0.01311792" />
      <inertia ixx="1.52e-06" ixy="0.0" ixz="4.4e-07" iyy="1.91e-06" iyz="0.0" izz="1.35e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_foot.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="FL_foot_joint" type="fixed">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="FL_calf" />
    <child link="FL_foot" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="FR_hip">
    <inertial>
      <origin xyz="-0.00686717 -0.00858559 0.00011731" rpy="0 0 0" />
      <mass value="0.20213661" />
      <inertia ixx="0.00010063" ixy="7.71e-06" ixz="-7.3e-07" iyy="0.00011594" iyz="-8e-08" izz="0.00011961" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_hip.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FR_hip_link" type="revolute">
    <origin xyz="0.15564 -0.041 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="FR_hip" />
    <axis xyz="1 0 0" />
    <limit lower="-1.5" upper="1.5" effort="21" velocity="50" />
  </joint>
  <link name="FR_thigh">
    <inertial>
      <origin xyz="-0.00391519 0.01709766 -0.02619176" rpy="0 0 0" />
      <mass value="0.40794627" />
      <inertia ixx="0.00112834" ixy="-2.575e-05" ixz="-6.576e-05" iyy="0.00099044" iyz="-0.0001821" izz="0.00035506" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_thigh.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FR_thigh_joint" type="revolute">
    <origin xyz="0 -0.1034 0" rpy="0 0 0" />
    <parent link="FR_hip" />
    <child link="FR_thigh" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57" upper="3.49" effort="21" velocity="50" />
  </joint>
  <link name="FR_calf">
    <inertial>
      <origin xyz="0.01005013 3.13e-06 -0.05890115" rpy="0 0 0" />
      <mass value="0.06068055" />
      <inertia ixx="0.00021231" ixy="0.0" ixz="1.46e-05" iyy="0.00021592" iyz="-2e-08" izz="5.96e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_calf.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="FR_calf_joint" type="revolute">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="FR_thigh" />
    <child link="FR_calf" />
    <axis xyz="0 1 0" />
    <limit lower="-2.7" upper="-0.56" effort="21" velocity="50" />
  </joint>
  <link name="FR_foot">
    <inertial>
      <origin xyz="-0.00571932 0.0 -0.00518479" rpy="0 0 0" />
      <mass value="0.01311792" />
      <inertia ixx="1.52e-06" ixy="0.0" ixz="4.4e-07" iyy="1.91e-06" iyz="0.0" izz="1.35e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_foot.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.02" />
      </geometry>
    </collision>
  </link>
  <joint name="FR_foot_joint" type="fixed">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="FR_calf" />
    <child link="FR_foot" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="RL_hip">
    <inertial>
      <origin xyz="0.00688157 0.00858559 0.00010291" rpy="0 0 0" />
      <mass value="0.20213661" />
      <inertia ixx="0.00010063" ixy="7.71e-06" ixz="7.3e-07" iyy="0.00011594" iyz="8e-08" izz="0.00011961" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_hip.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="RL_hip_joint" type="revolute">
    <origin xyz="-0.15566 0.041 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="RL_hip" />
    <axis xyz="1 0 0" />
    <limit lower="-1.5" upper="1.5" effort="21" velocity="50" />
  </joint>
  <link name="RL_thigh">
    <inertial>
      <origin xyz="-0.00379857 -0.0170977 -0.02604468" rpy="0 0 0" />
      <mass value="0.40794661" />
      <inertia ixx="0.00113096" ixy="2.664e-05" ixz="-6.701e-05" iyy="0.00099394" iyz="0.00018386" izz="0.00035594" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_thigh.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="RL_thigh_joint" type="revolute">
    <origin xyz="0 0.1034 0" rpy="0 0 0" />
    <parent link="RL_hip" />
    <child link="RL_thigh" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57" upper="3.49" effort="21" velocity="50" />
  </joint>
  <link name="RL_calf">
    <inertial>
      <origin xyz="0.01005013 3.13e-06 -0.05890115" rpy="0 0 0" />
      <mass value="0.06068055" />
      <inertia ixx="0.00021231" ixy="0.0" ixz="1.46e-05" iyy="0.00021592" iyz="-2e-08" izz="5.96e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_calf.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="RL_calf_joint" type="revolute">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="RL_thigh" />
    <child link="RL_calf" />
    <axis xyz="0 1 0" />
    <limit lower="-2.7" upper="-0.56" effort="21" velocity="50" />
  </joint>
  <link name="RL_foot">
    <inertial>
      <origin xyz="-0.00571932 0.0 -0.00518479" rpy="0 0 0" />
      <mass value="0.01311792" />
      <inertia ixx="1.52e-06" ixy="0.0" ixz="4.4e-07" iyy="1.91e-06" iyz="0.0" izz="1.35e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_foot.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.02" />
      </geometry>
    </collision>
  </link>
  <joint name="RL_foot_joint" type="fixed">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="RL_calf" />
    <child link="RL_foot" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="RR_hip">
    <inertial>
      <origin xyz="0.00688331 -0.00858559 -0.00010465" rpy="0 0 0" />
      <mass value="0.20213661" />
      <inertia ixx="0.00010063" ixy="-7.71e-06" ixz="-7.3e-07" iyy="0.00011594" iyz="8e-08" izz="0.00011961" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_hip.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="RR_hip_joint" type="revolute">
    <origin xyz="-0.15566 -0.041 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="RR_hip" />
    <axis xyz="1 0 0" />
    <limit lower="-1.5" upper="1.5" effort="21" velocity="50" />
  </joint>
  <link name="RR_thigh">
    <inertial>
      <origin xyz="-0.00391519 0.01709766 -0.02619176" rpy="0 0 0" />
      <mass value="0.40794627" />
      <inertia ixx="0.00112834" ixy="-2.575e-05" ixz="-6.576e-05" iyy="0.00099044" iyz="-0.0001821" izz="0.00035506" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_thigh.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="RR_thigh_joint" type="revolute">
    <origin xyz="0 -0.1034 0" rpy="0 0 0" />
    <parent link="RR_hip" />
    <child link="RR_thigh" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57" upper="3.49" effort="21" velocity="50" />
  </joint>
  <link name="RR_calf">
    <inertial>
      <origin xyz="0.01000348 3.11e-06 -0.0586277" rpy="0 0 0" />
      <mass value="0.06096356" />
      <inertia ixx="0.0002133" ixy="0.0" ixz="1.477e-05" iyy="0.00021693" iyz="-2e-08" izz="6e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_calf.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="RR_calf_joint" type="revolute">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="RR_thigh" />
    <child link="RR_calf" />
    <axis xyz="0 1 0" />
    <limit lower="-2.7" upper="-0.56" effort="21" velocity="50" />
  </joint>
  <link name="RR_foot">
    <inertial>
      <origin xyz="-0.00571932 0.0 -0.00518479" rpy="0 0 0" />
      <mass value="0.01311792" />
      <inertia ixx="1.52e-06" ixy="0.0" ixz="4.4e-07" iyy="1.91e-06" iyz="0.0" izz="1.35e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_foot.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="RR_foot_joint" type="fixed">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="RR_calf" />
    <child link="RR_foot" />
    <axis xyz="0 0 0" />
  </joint>
</robot>