<?xml version='1.0' encoding='utf-8'?>
<robot name="ri_4438">
  <mujoco>
    <compiler meshdir="../meshes/" balanceinertia="true" discardvisual="false" />
  </mujoco>
  <link name="base_link">
    <inertial>
      <origin xyz="-0.00301327 0.00204115 -0.000635" rpy="0 0 0" />
      <mass value="2.74343032" />
      <inertia ixx="0.00588039" ixy="0.00048912" ixz="4.378e-05" iyy="0.01284666" iyz="-3.516e-05" izz="0.01600904" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.58 0.59 0.59 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/base_link.STL" /></geometry></collision></link>
  <link name="FL_hip">
    <inertial>
      <origin xyz="-0.00266064 0.00153194 -0.00011724" rpy="0 0 0" />
      <mass value="0.27079698" />
      <inertia ixx="2.36e-05" ixy="-8.3e-07" ixz="1.5e-07" iyy="3.433e-05" iyz="-3e-08" izz="3.58e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_hip.STL" />
      </geometry>
      <material name="">
        <color rgba="0.14 0.15 0.16 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/FL_hip.STL" /></geometry></collision></link>
  <joint name="FL_hip_joint" type="revolute">
    <origin xyz="0.14165 0.037 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="FL_hip" />
    <axis xyz="1 0 0" />
    <limit lower="-1.50" upper="1.50" effort="10" velocity="20.0" />
  </joint>
  <link name="FL_thigh">
    <inertial>
      <origin xyz="-0.00360471 -0.01763227 -0.02190343" rpy="0 0 0" />
      <mass value="0.48086181" />
      <inertia ixx="0.00103502" ixy="2.935e-05" ixz="-8.603e-05" iyy="0.00094426" iyz="0.00018729" izz="0.00024889" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_thigh.STL" />
      </geometry>
      <material name="">
        <color rgba="0.33 0.34 0.35 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/FL_thigh.STL" /></geometry></collision></link>
  <joint name="FL_thigh_joint" type="revolute">
    <origin xyz="0 0.0834 0" rpy="0 0 0" />
    <parent link="FL_hip" />
    <child link="FL_thigh" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57" upper="3.49" effort="10" velocity="20.0" />
  </joint>
  <link name="FL_calf">
    <inertial>
      <origin xyz="0.01005013 3.13e-06 -0.05890115" rpy="0 0 0" />
      <mass value="0.06068055" />
      <inertia ixx="0.00021231" ixy="0.0" ixz="1.46e-05" iyy="0.00021592" iyz="-2e-08" izz="5.96e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_calf.STL" />
      </geometry>
      <material name="">
        <color rgba="0.87 0.85 0.80 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/FL_calf.STL" /></geometry></collision></link>
  <joint name="FL_calf_joint" type="revolute">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="FL_thigh" />
    <child link="FL_calf" />
    <axis xyz="0 1 0" />
    <limit lower="-2.53" upper="-0.84" effort="10" velocity="20.0" />
  </joint>
  <link name="FL_foot">
    <inertial>
      <origin xyz="-0.00396275 0.0 -0.00314463" rpy="0 0 0" />
      <mass value="0.0049215" />
      <inertia ixx="3.6e-07" ixy="0.0" ixz="7e-08" iyy="4.6e-07" iyz="0.0" izz="3.3e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_foot.STL" />
      </geometry>
      <material name="">
        <color rgba="0.72 0.50 0.29 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><sphere radius="0.02" /></geometry></collision></link>
  <joint name="FL_foot_joint" type="fixed" dont_collapse="true">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="FL_calf" />
    <child link="FL_foot" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="FR_hip">
    <inertial>
      <origin xyz="-0.00266064 -0.00153194 0.00011724" rpy="0 0 0" />
      <mass value="0.27079698" />
      <inertia ixx="2.36e-05" ixy="8.3e-07" ixz="-1.5e-07" iyy="3.433e-05" iyz="-3e-08" izz="3.58e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_hip.STL" />
      </geometry>
      <material name="">
        <color rgba="0.14 0.15 0.16 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/FR_hip.STL" /></geometry></collision></link>
  <joint name="FR_hip_joint" type="revolute">
    <origin xyz="0.14165 -0.037 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="FR_hip" />
    <axis xyz="1 0 0" />
    <limit lower="-1.50" upper="1.50" effort="10" velocity="20.0" />
  </joint>
  <link name="FR_thigh">
    <inertial>
      <origin xyz="-0.00559051 0.01763224 -0.02107369" rpy="0 0 0" />
      <mass value="0.48086142" />
      <inertia ixx="0.00101933" ixy="-4.59e-05" ixz="-0.00016158" iyy="0.00095262" iyz="-0.00017843" izz="0.00027294" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_thigh.STL" />
      </geometry>
      <material name="">
        <color rgba="0.33 0.34 0.35 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/FR_thigh.STL" /></geometry></collision></link>
  <joint name="FR_thigh_joint" type="revolute">
    <origin xyz="0 -0.0834 0" rpy="0 0 0" />
    <parent link="FR_hip" />
    <child link="FR_thigh" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57" upper="3.49" effort="10" velocity="20.0" />
  </joint>
  <link name="FR_calf">
    <inertial>
      <origin xyz="0.01005014 3.13e-06 -0.05890115" rpy="0 0 0" />
      <mass value="0.06068055" />
      <inertia ixx="0.00021231" ixy="0.0" ixz="1.46e-05" iyy="0.00021592" iyz="-2e-08" izz="5.96e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_calf.STL" />
      </geometry>
      <material name="">
        <color rgba="0.87 0.85 0.80 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/FR_calf.STL" /></geometry></collision></link>
  <joint name="FR_calf_joint" type="revolute">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="FR_thigh" />
    <child link="FR_calf" />
    <axis xyz="0 1 0" />
    <limit lower="-2.53" upper="-0.84" effort="10" velocity="20.0" />
  </joint>
  <link name="FR_foot">
    <inertial>
      <origin xyz="-0.00396275 0.0 -0.00314464" rpy="0 0 0" />
      <mass value="0.0049215" />
      <inertia ixx="3.6e-07" ixy="0.0" ixz="7e-08" iyy="4.6e-07" iyz="0.0" izz="3.3e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_foot.STL" />
      </geometry>
      <material name="">
        <color rgba="0.72 0.50 0.29 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><sphere radius="0.02" /></geometry></collision></link>
  <joint name="FR_foot_joint" type="fixed" dont_collapse="true">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="FR_calf" />
    <child link="FR_foot" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="RL_hip">
    <inertial>
      <origin xyz="0.00266064 0.00153194 0.00011724" rpy="0 0 0" />
      <mass value="0.27079698" />
      <inertia ixx="2.36e-05" ixy="8.3e-07" ixz="1.5e-07" iyy="3.433e-05" iyz="3e-08" izz="3.58e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_hip.STL" />
      </geometry>
      <material name="">
        <color rgba="0.14 0.15 0.16 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/RL_hip.STL" /></geometry></collision></link>
  <joint name="RL_hip_joint" type="revolute">
    <origin xyz="-0.14165 0.037 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="RL_hip" />
    <axis xyz="1 0 0" />
    <limit lower="-1.50" upper="1.50" effort="10" velocity="20.0" />
  </joint>
  <link name="RL_thigh">
    <inertial>
      <origin xyz="-0.00555466 -0.01763227 -0.02101551" rpy="0 0 0" />
      <mass value="0.48086181" />
      <inertia ixx="0.00102307" ixy="4.602e-05" ixz="-0.00015399" iyy="0.00095399" iyz="0.00018026" izz="0.00027057" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_thigh.STL" />
      </geometry>
      <material name="">
        <color rgba="0.33 0.34 0.35 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/RL_thigh.STL" /></geometry></collision></link>
  <joint name="RL_thigh_joint" type="revolute">
    <origin xyz="0 0.0834 0" rpy="0 0 0" />
    <parent link="RL_hip" />
    <child link="RL_thigh" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57" upper="3.49" effort="10" velocity="20.0" />
  </joint>
  <link name="RL_calf">
    <inertial>
      <origin xyz="0.01005013 3.13e-06 -0.05890115" rpy="0 0 0" />
      <mass value="0.06068055" />
      <inertia ixx="0.00021231" ixy="0.0" ixz="1.46e-05" iyy="0.00021592" iyz="-2e-08" izz="5.96e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_calf.STL" />
      </geometry>
      <material name="">
        <color rgba="0.87 0.85 0.80 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/RL_calf.STL" /></geometry></collision></link>
  <joint name="RL_calf_joint" type="revolute">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="RL_thigh" />
    <child link="RL_calf" />
    <axis xyz="0 1 0" />
    <limit lower="-2.53" upper="-0.84" effort="10" velocity="20.0" />
  </joint>
  <link name="RL_foot">
    <inertial>
      <origin xyz="-0.00396275 0.0 -0.00314463" rpy="0 0 0" />
      <mass value="0.0049215" />
      <inertia ixx="3.6e-07" ixy="0.0" ixz="7e-08" iyy="4.6e-07" iyz="0.0" izz="3.3e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_foot.STL" />
      </geometry>
      <material name="">
        <color rgba="0.72 0.50 0.29 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><sphere radius="0.02" /></geometry></collision></link>
  <joint name="RL_foot_joint" type="fixed" dont_collapse="true">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="RL_calf" />
    <child link="RL_foot" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="RR_hip">
    <inertial>
      <origin xyz="0.00266064 -0.00153194 -0.00011724" rpy="0 0 0" />
      <mass value="0.27079698" />
      <inertia ixx="2.36e-05" ixy="-8.3e-07" ixz="-1.5e-07" iyy="3.433e-05" iyz="3e-08" izz="3.58e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_hip.STL" />
      </geometry>
      <material name="">
        <color rgba="0.14 0.15 0.16 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/RR_hip.STL" /></geometry></collision></link>
  <joint name="RR_hip_joint" type="revolute">
    <origin xyz="-0.14165 -0.037 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="RR_hip" />
    <axis xyz="1 0 0" />
    <limit lower="-1.50" upper="1.50" effort="10" velocity="20.0" />
  </joint>
  <link name="RR_thigh">
    <inertial>
      <origin xyz="-0.00521957 0.01761785 -0.02116423" rpy="0 0 0" />
      <mass value="0.48086142" />
      <inertia ixx="0.00102378" ixy="-4.288e-05" ixz="-0.00015179" iyy="0.00095271" iyz="-0.00018005" izz="0.00026924" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_thigh.STL" />
      </geometry>
      <material name="">
        <color rgba="0.33 0.34 0.35 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/RR_thigh.STL" /></geometry></collision></link>
  <joint name="RR_thigh_joint" type="revolute">
    <origin xyz="0 -0.0834 0" rpy="0 0 0" />
    <parent link="RR_hip" />
    <child link="RR_thigh" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57" upper="3.49" effort="10" velocity="20.0" />
  </joint>
  <link name="RR_calf">
    <inertial>
      <origin xyz="0.01005013 3.13e-06 -0.05890115" rpy="0 0 0" />
      <mass value="0.06068055" />
      <inertia ixx="0.00021231" ixy="0.0" ixz="1.46e-05" iyy="0.00021592" iyz="-2e-08" izz="5.96e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_calf.STL" />
      </geometry>
      <material name="">
        <color rgba="0.87 0.85 0.80 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="../meshes/RR_calf.STL" /></geometry></collision></link>
  <joint name="RR_calf_joint" type="revolute">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="RR_thigh" />
    <child link="RR_calf" />
    <axis xyz="0 1 0" />
    <limit lower="-2.53" upper="-0.84" effort="10" velocity="20.0" />
  </joint>
  <link name="RR_foot">
    <inertial>
      <origin xyz="-0.00396275 0.0 -0.00314463" rpy="0 0 0" />
      <mass value="0.0049215" />
      <inertia ixx="3.6e-07" ixy="0.0" ixz="7e-08" iyy="4.6e-07" iyz="0.0" izz="3.3e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_foot.STL" />
      </geometry>
      <material name="">
        <color rgba="0.72 0.50 0.29 1" />
      </material>
    </visual>
    <collision><origin xyz="0 0 0" rpy="0 0 0" /><geometry><sphere radius="0.02" /></geometry></collision></link>
  <joint name="RR_foot_joint" type="fixed" dont_collapse="true">
    <origin xyz="0 0 -0.15" rpy="0 0 0" />
    <parent link="RR_calf" />
    <child link="RR_foot" />
    <axis xyz="0 0 0" />
  </joint>
</robot>
