<?xml version="1.0" encoding="utf-8"?>
 <!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
      Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
      For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
 <robot name="HTDW_5036">
  <mujoco>
    <compiler meshdir="../meshes/" balanceinertia="true" discardvisual="false" />
  </mujoco>

   <link name="base_link">
     <inertial>
       <origin xyz="-0.003236 0.000885 -0.001813" rpy="0 0 0" />
       <mass value="2.659586" />
       <inertia ixx="0.003792" ixy="0.00013" ixz="0.000175" iyy="0.014468" iyz="-5e-05" izz="0.016548" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/base_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/base_link.STL" />
       </geometry>
     </collision>
   </link>
   <link name="FL_hip">
     <inertial>
       <origin xyz="-0.002051 0.009463 -0.000144" rpy="0 0 0" />
       <mass value="0.384243" />
       <inertia ixx="0.000101" ixy="2e-06" ixz="1e-06" iyy="0.000104" iyz="0.0" izz="0.00011" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FL_hip.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FL_hip.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="FL_hip_joint" type="revolute">
     <origin xyz="0.14215 0.035 0" rpy="0 0 0" />
     <parent link="base_link" />
     <child link="FL_hip" />
     <axis xyz="1 0 0" />
     <limit lower="-0.53" upper="0.53" effort="21" velocity="9.5" />
   </joint>
   <link name="FL_thigh">
     <inertial>
       <origin xyz="-0.002275 0.002996 -0.013672" rpy="0 0 0" />
       <mass value="0.475" />
       <inertia ixx="0.000882" ixy="7e-06" ixz="-6.3e-05" iyy="0.000854" iyz="4e-06" izz="0.000201" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FL_thigh.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FL_thigh.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="FL_thigh_joint" type="revolute">
     <origin xyz="0 0.0649 0" rpy="0 0 0" />
     <parent link="FL_hip" />
     <child link="FL_thigh" />
     <axis xyz="0 1 0" />
     <limit lower="-1.57" upper="3.49" effort="21" velocity="9.5" />
   </joint>
   <link name="FL_calf">
     <inertial>
       <origin xyz="0.019619 0.0 -0.090905" rpy="0 0 0" />
       <mass value="0.185104" />
       <inertia ixx="0.000731" ixy="0.0" ixz="8.1e-05" iyy="0.000773" iyz="0.0" izz="5.8e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FL_calf.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FL_calf.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="FL_calf_joint" type="revolute">
     <origin xyz="0 0 -0.17" rpy="0 0 0" />
     <parent link="FL_thigh" />
     <child link="FL_calf" />
     <axis xyz="0 1 0" />
     <limit lower="-2.65" upper="-0.84" effort="21" velocity="9.5" />
   </joint>
   <link name="FL_foot">
     <inertial>
       <origin xyz="-0.01292 -0.000247 -0.011624" rpy="0 0 0" />
       <mass value="0.055909" />
       <inertia ixx="1.3e-05" ixy="0.0" ixz="-1e-06" iyy="1.5e-05" iyz="0.0" izz="1.3e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FL_foot.STL" />
       </geometry>
       <material name="">
         <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FL_foot.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="FL_foot" type="fixed">
     <origin xyz="-0.00023522 0 -0.18325" rpy="0 0 0" />
     <parent link="FL_calf" />
     <child link="FL_foot" />
     <axis xyz="0 0 0" />
   </joint>
   <link name="FR_hip">
     <inertial>
       <origin xyz="-0.002051 -0.009463 0.000144" rpy="0 0 0" />
       <mass value="0.384243" />
       <inertia ixx="0.000101" ixy="-2e-06" ixz="-1e-06" iyy="0.000104" iyz="0.0" izz="0.00011" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FR_hip.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FR_hip.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="FR_hip_joint" type="revolute">
     <origin xyz="0.14215 -0.035 0" rpy="0 0 0" />
     <parent link="base_link" />
     <child link="FR_hip" />
     <axis xyz="1 0 0" />
     <limit lower="-0.53" upper="0.53" effort="21" velocity="9.5" />
   </joint>
   <link name="FR_thigh">
     <inertial>
       <origin xyz="-0.002505 -0.002996 -0.013547" rpy="0 0 0" />
       <mass value="0.475" />
       <inertia ixx="0.000885" ixy="-6e-06" ixz="-6e-05" iyy="0.000855" iyz="-3e-06" izz="0.0002" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FR_thigh.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FR_thigh.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="FR_thigh_joint" type="revolute">
     <origin xyz="0 -0.0649 0" rpy="0 0 0" />
     <parent link="FR_hip" />
     <child link="FR_thigh" />
     <axis xyz="0 1 0" />
     <limit lower="-1.57" upper="3.49" effort="21" velocity="9.5" />
   </joint>
   <link name="FR_calf">
     <inertial>
       <origin xyz="0.019619 0.0 -0.090905" rpy="0 0 0" />
       <mass value="0.185104" />
       <inertia ixx="0.000731" ixy="0.0" ixz="8.1e-05" iyy="0.000773" iyz="0.0" izz="5.8e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FR_calf.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FR_calf.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="FR_calf_joint" type="revolute">
     <origin xyz="0 0 -0.17" rpy="0 0 0" />
     <parent link="FR_thigh" />
     <child link="FR_calf" />
     <axis xyz="0 1 0" />
     <limit lower="-2.65" upper="-0.84" effort="21" velocity="9.5" />
   </joint>
   <link name="FR_foot">
     <inertial>
       <origin xyz="-0.01292 -0.000247 -0.011623" rpy="0 0 0" />
       <mass value="0.055909" />
       <inertia ixx="1.3e-05" ixy="0.0" ixz="-1e-06" iyy="1.5e-05" iyz="0.0" izz="1.3e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FR_foot.STL" />
       </geometry>
       <material name="">
         <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/FR_foot.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="FR_foot" type="fixed">
     <origin xyz="-0.000235191782713057 0 -0.183253819517796" rpy="0 0 0" />
     <parent link="FR_calf" />
     <child link="FR_foot" />
     <axis xyz="0 0 0" />
   </joint>
   <link name="RL_hip">
     <inertial>
       <origin xyz="0.002051 0.009463 0.000144" rpy="0 0 0" />
       <mass value="0.384243" />
       <inertia ixx="0.000101" ixy="-2e-06" ixz="1e-06" iyy="0.000104" iyz="0.0" izz="0.00011" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RL_hip.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RL_hip.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="RL_hip_joint" type="revolute">
     <origin xyz="-0.14215 0.035 0" rpy="0 0 0" />
     <parent link="base_link" />
     <child link="RL_hip" />
     <axis xyz="1 0 0" />
     <limit lower="-0.53" upper="0.53" effort="21" velocity="9.5" />
   </joint>
   <link name="RL_thigh">
     <inertial>
       <origin xyz="-0.002152 0.002996 -0.013502" rpy="0 0 0" />
       <mass value="0.475" />
       <inertia ixx="0.000887" ixy="5e-06" ixz="-6.3e-05" iyy="0.000857" iyz="2e-06" izz="0.000199" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RL_thigh.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RL_thigh.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="RL_thigh_joint" type="revolute">
     <origin xyz="0 0.0649 0" rpy="0 0 0" />
     <parent link="RL_hip" />
     <child link="RL_thigh" />
     <axis xyz="0 1 0" />
     <limit lower="-1.57" upper="3.49" effort="21" velocity="9.5" />
   </joint>
   <link name="RL_calf">
     <inertial>
       <origin xyz="0.019619 0.0 -0.090905" rpy="0 0 0" />
       <mass value="0.185104" />
       <inertia ixx="0.000731" ixy="0.0" ixz="8.1e-05" iyy="0.000773" iyz="0.0" izz="5.8e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RL_calf.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RL_calf.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="RL_calf_joint" type="revolute">
     <origin xyz="0 0 -0.17" rpy="0 0 0" />
     <parent link="RL_thigh" />
     <child link="RL_calf" />
     <axis xyz="0 1 0" />
     <limit lower="-2.65" upper="-0.84" effort="21" velocity="9.5" />
   </joint>
   <link name="RL_foot">
     <inertial>
       <origin xyz="-0.01292 -0.000247 -0.011624" rpy="0 0 0" />
       <mass value="0.055909" />
       <inertia ixx="1.3e-05" ixy="0.0" ixz="-1e-06" iyy="1.5e-05" iyz="0.0" izz="1.3e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RL_foot.STL" />
       </geometry>
       <material name="">
         <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RL_foot.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="RL_foot" type="fixed">
     <origin xyz="-0.000235191782713084 0 -0.183253819517796" rpy="0 0 0" />
     <parent link="RL_calf" />
     <child link="RL_foot" />
     <axis xyz="0 0 0" />
   </joint>
   <link name="RR_hip">
     <inertial>
       <origin xyz="0.002051 -0.009463 -0.000144" rpy="0 0 0" />
       <mass value="0.384243" />
       <inertia ixx="0.000101" ixy="2e-06" ixz="-1e-06" iyy="0.000104" iyz="0.0" izz="0.00011" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RR_hip.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RR_hip.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="RR_hip_joint" type="revolute">
     <origin xyz="-0.14215 -0.035 0" rpy="0 0 0" />
     <parent link="base_link" />
     <child link="RR_hip" />
     <axis xyz="1 0 0" />
     <limit lower="-0.53" upper="0.53" effort="21" velocity="9.5" />
   </joint>
   <link name="RR_thigh">
     <inertial>
       <origin xyz="-0.002505 -0.002996 -0.013547" rpy="0 0 0" />
       <mass value="0.475" />
       <inertia ixx="0.000885" ixy="-6e-06" ixz="-6e-05" iyy="0.000855" iyz="-3e-06" izz="0.0002" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RR_thigh.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RR_thigh.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="RR_thigh_joint" type="revolute">
     <origin xyz="0 -0.0649 0" rpy="0 0 0" />
     <parent link="RR_hip" />
     <child link="RR_thigh" />
     <axis xyz="0 1 0" />
     <limit lower="-1.57" upper="3.49" effort="21" velocity="9.5" />
   </joint>
   <link name="RR_calf">
     <inertial>
       <origin xyz="0.019619 0.0 -0.090905" rpy="0 0 0" />
       <mass value="0.185104" />
       <inertia ixx="0.000731" ixy="0.0" ixz="8.1e-05" iyy="0.000773" iyz="0.0" izz="5.8e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RR_calf.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RR_calf.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="RR_calf_joint" type="revolute">
     <origin xyz="0 0 -0.17" rpy="0 0 0" />
     <parent link="RR_thigh" />
     <child link="RR_calf" />
     <axis xyz="0 1 0" />
     <limit lower="-2.65" upper="-0.84" effort="21" velocity="9.5" />
   </joint>
   <link name="RR_foot">
     <inertial>
       <origin xyz="-0.01292 -0.000247 -0.011623" rpy="0 0 0" />
       <mass value="0.055909" />
       <inertia ixx="1.3e-05" ixy="0.0" ixz="-1e-06" iyy="1.5e-05" iyz="0.0" izz="1.3e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RR_foot.STL" />
       </geometry>
       <material name="">
         <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="../meshes/RR_foot.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="RR_foot" type="fixed">
     <origin xyz="-0.000235191782713084 0 -0.183253819517796" rpy="0 0 0" />
     <parent link="RR_calf" />
     <child link="RR_foot" />
     <axis xyz="0 0 0" />
   </joint>
 </robot>
